<?xml version="1.0"?>
<launch>

  <arg name="odometry_topic" default="/odometry/filtered"/>
  <!-- Run the map server -->
  <arg name="map_file" default="$(find mbs_husky_navigation)/maps/empty.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!--- Run Localization -->  
  <!-- <include file="$(find mbs_husky_control_updated)/launch/ekf_localization.launch"/> -->

  <!--- Run Move Base -->  
  <include file="$(find mbs_husky_navigation)/launch/include/move_base.launch">
    <arg name="no_static_map" value="false"/>
    <arg name="odom_topic" value="$(arg odometry_topic)"/>
  </include>
  
</launch>
