<launch>
 <!-- -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
 
    <!-- Configurations parameters  -->
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>
    <param name="zero_altitude" value="true"/> 
    <param name="broadcast_cartesian_transform" value="false"/>
    <param name="publish_filtered_gps" value="false"/>
    <param name="use_odometry_yaw" value="false"/>
    <param name="wait_for_datum" value="false"/>
    <!-- <param name="broadcast_utm_transform_as_parent_frame" value="true"/> -->
    <param name="broadcast_cartesian_transform" value="true"/>

    <!-- Subscribed topics -->
    <remap from="/imu/data" to="/imu/data" />
    <remap from="/gps/fix" to="/gps/fix" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />

    <!-- Published topics -->
    <remap from="/odometry/gps" to="/gps/odometry/filtered" />
    <remap from="/gps/filtered" to="/gps/fix/filtered" />

  </node>

</launch>