<?xml version="1.0"?>
<launch>

<!--
******************************************************************
******************************************************************

                      Emlid GPS related Nodes

******************************************************************
****************************************************************** 
-->

  <!-- <group ns="navsat">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" output="screen">
      <param name="port" value="/dev/ttyACM0" />
      <param name="baud" value="115200" />
      <param name="frame_id" value="reach_rs" />
    </node>
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
    </node> 
  </group> -->

  <group ns="navsat">
    <node pkg="reach_rs_driver" type="reach_rs_driver_node" name="reach_rs_driver_node">
      <param name="reach_rs_host_or_ip" value="192.168.131.3"/>
      <param name="reach_rs_port" value="9001"/>
    </node>  
  </group>

</launch>

