<?xml version="1.0"?>
<launch>

<!--
******************************************************************
******************************************************************

                        Husky base driver

******************************************************************
****************************************************************** 
-->

  <include file="$(find husky_base)/launch/base.launch"/>

<!--
******************************************************************
******************************************************************

                      Emlid GPS related Nodes

******************************************************************
****************************************************************** 
-->

  <include file="$(find mbs_husky_startup)/launch/include/emlid_reach_rs2.launch"/>

<!--
******************************************************************
******************************************************************

                          IMU related nodes

******************************************************************
****************************************************************** 
-->

  <include file="$(find mbs_husky_startup)/launch/include/phidgets_imu.launch"/>
  
</launch>