<?xml version="1.0"?>

<launch>

  <arg name="robot_namespace" default="/"/>
  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
  <arg name="realsense_enabled" default="$(optenv HUSKY_REALSENSE_ENABLED false)"/>
 
  <!-- <env name="HUSKY_URDF_EXTRAS" value="$(find mbs_husky_description)/urdf/mbs_husky_updates.urdf.xacro" />
  <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/> -->

  <arg name="urdf_extras" default="$(find mbs_husky_description)/urdf/mbs_husky_updates.urdf.xacro"/>

  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'
                    robot_namespace:=$(arg robot_namespace)
                    laser_enabled:=$(arg laser_enabled)
                    realsense_enabled:=$(arg realsense_enabled)
                    urdf_extras:=$(arg urdf_extras)
                    "/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_viz)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>