<?xml version="1.0"?>

<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)" />
  <xacro:arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)" />
  <xacro:arg name="kinect_enabled" default="false" />

  <!-- Link the Ouster Lidar Plate to the Husky top plate -->

  <link name="lidar_plate_link" >
    <visual>
      <geometry>
          <mesh filename="package://mbs_husky_description/meshes/lidar_plate.dae" /> 
      </geometry>
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://mbs_husky_description/meshes/lidar_plate.stl" /> 
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="3.0" ixy="0.0" ixz="0.0"
              iyy="3.0" iyz="0.0" 
              izz="3.0" />
    </inertial>
  </link>

  <joint name="lidar_plate_joint" type="fixed" >
  <parent link="top_plate_link" />
    <child link="lidar_plate_link" />
    <origin xyz="0.299 0 0.010" rpy="1.5708 0 0" />
  </joint>

  <!-- Link Ouster lidar to its holder -->

  <xacro:include filename="$(find mbs_husky_description)/urdf/include/OS1-64.urdf.xacro"/>
  <OS1-64 parent="lidar_plate_link" name="os_sensor" hz="10" samples="220">
    <origin xyz="0 0.052 0" rpy="-1.5708 0 0" />
  </OS1-64>

  <!-- Link GPS tower to the Husky top plate -->

  <!-- <link name="gps_tower">
    <visual>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/gps_tower_2.dae"/>
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/gps_tower_2.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="gps_tower_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="gps_tower" />
    <origin xyz="0 0 0.003175" rpy="0 0 0" />
  </joint> -->

  <!-- Link the GPS origin to the GPS tower -->

  <!-- <link name="garmin_navsat" />

  <joint name="navsat_joint" type="fixed">
    <parent link="gps_tower" />
    <child link="garmin_navsat" />
    <origin xyz="-0.2761 -0.265 0.31818" rpy="0 0 0" />
  </joint> -->

    <!-- Link Emlid GPS tower to the Husky top plate -->

  <link name="emlid_reach_tower">
    <visual>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/reach_pole.dae"/>
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/reach_pole.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="emlid_reach_tower_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="emlid_reach_tower" />
    <origin xyz="-0.278 0.265 0.10" rpy="0 0 0" />
  </joint>

  <!-- Link the GPS origin to the GPS tower -->

  <link name="reach_rs">
    <visual>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/reach_rs2.dae"/>
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mbs_husky_description/meshes/reach_rs2.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="reach_rs_joint" type="fixed">
    <parent link="emlid_reach_tower" />
    <child link="reach_rs" />
    <origin xyz="0 0 0.05" rpy="1.5708 0 1.5708" />
  </joint>

  <gazebo>
    <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <updateRate>40</updateRate>
      <bodyName>reach_rs</bodyName>
      <frameId>reach_rs</frameId>
      <topicName>navsat/fix</topicName>
      <velocityTopicName>emlid/vel</velocityTopicName>
      <referenceLatitude>49.9</referenceLatitude>
      <referenceLongitude>8.9</referenceLongitude>
      <referenceHeading>0</referenceHeading>
      <referenceAltitude>0</referenceAltitude>
      <drift>0.0001 0.0001 0.0001</drift>
    </plugin>
  </gazebo>
  
  <!-- Phidgets IMU -->

  <link name="phidgets_imu_link" />

  <joint name="phidgets_imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="phidgets_imu_link" />
    <origin xyz="0.19 0 0.149" rpy="0 0 1.5708" />
  </joint>

</robot>